
@{
    ViewData["Title"] = "Beheer";
}


@if (User.IsInRole("Admin"))
{
    <main style="min-height=100vh;">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div>
                        <button class="btn-primary" onclick="LoadPartial('Producten')">Producten</button>
                    </div>
                    <div>
                        <button class="btn-primary" onclick="LoadPartial('Categorieen')">Categorieën</button>
                    </div>
                    <div>
                        <button class="btn-primary" onclick="LoadPartial('Vragen')">Vragen</button>
                    </div>
                    <div>
                        <button class="btn-primary" onclick="LoadPartial('Gebruikers')">Gebruikers</button>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div id="pv" >
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="pv2"></div>
                </div>
                            </div>
        </div>
    </main>
}
else
{
    <p>U heeft niet de juiste rechten voor deze pagina</p>
}

<script>

    function ClosePartial() {
        $('#pv2').empty();
    }

    function LoadPartial(naam) {

        data = JSON.stringify(
            {
                Naam: naam
            });

        $.ajax({
            url: "/Product/openPartial",
            type: 'POST',
            cache: false,
            dataType: "html",
            contentType: "application/json",
            data: data,
            success: function (data) {
                $('#pv').html(data);
            }
        })
    }
</script>

