@model AdviesOpMaatASP.NET.Models.OverzichtViewModel;
@using AdviesOpMaatASP.NET.Classes;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="Containerart">
    @foreach (Product product in Model.Producten)
    {
        <div id="InfoBox">
            <a href="@Url.Action("Index", "Product")">
                <br />
                <p> @Html.DisplayFor(modelItem => product.Naam)</p>
                @foreach (Categorie categorie in product.Categorieen)
                {
                <p>@Html.DisplayFor(modelItem => categorie.Soort) = @Html.DisplayFor(modelItem => categorie.Naam)</p>
                }

            </a>
        </div>
    }
</div>

