@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AdviesOpMaat.nl</h1>
    <p>Een demosite waarin de leerdoelen van semester 2 worden aangetoond</p>
</div>
