@model AdviesOpMaatASP.NET.Models.BeheerViewModel

@{
    ViewData["Title"] = "Edit Product";
}


<div class="text-body">
    <form asp-action="UpdateProduct" asp-controller="Product" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="geselecteerdeProduct.Naam" class="control-label"></label>
            <input asp-for="editProductNaam" value="@Model.geselecteerdeProduct.Naam" class="form-control" />
            <span asp-validation-for="editProductNaam" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="geselecteerdeProduct.Prijs" class="control-label"></label>
            <input asp-for="editProductPrijs" value="@Model.geselecteerdeProduct.Prijs" class="form-control" />
            <span asp-validation-for="geselecteerdeProduct.Prijs" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>
</div>
